<div class="wrapper">
<<<<<<< HEAD
<h1>Create a New Trip</h1>

<form action="/trips" method="post">
  <div class="form-group">
    <input type="integer" class="form-control" name="trip[duration_in_seconds]" placeholder="duration"/>
  </div>
  <div class="form-group">
    <input type="Date" class="form-control" name="trip[start_date]" placeholder="start date"/>
  </div>
  <div class="form-group">
    <input type="Date"  class="form-control" name="trip[end_date]" placeholder="end date"/>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="start_station[name]" list="stations" placeholder="start station">
    <datalist id="stations"> <% @stations.each do |station| %>
      <option value="<%= station.name %>" id="<%= station.name %>"/>
      <% end %>
    </datalist>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="end_station[name]" list="stations" placeholder="end station">
    <datalist id="stations"> <% @stations.each do |station| %>
      <option value="<%= station.name %>" id="<%= station.name %>"/>
      <% end %>
    </datalist>
  </div>
  <div class="form-group">
    <input type="number" class="form-control" step="1" name="trip[bike_id]" placeholder="bike ID"/>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="subscription[name]" list="subscriptions" placeholder="subscription Type">
    <datalist id="subcriptions"> <% @subscriptions.each do |subscription| %>
      <option value="<%= subscription.name %>" id="<%= subscription.name %>"/>
      <% end %>
    </datalist>
  </div>
  <div class="form-group">
    <input type="integer" class="form-control" name="trip[zipcode_id]" placeholder="zipcode">
  </div>

  <input class="button btn-update btn" type="submit" value="Submit"/>
=======
<h1 class="trip-page-title">Create a New Trip</h1>

<form action="/trips" method="post">
  <div class="form-group">
    <input type="integer" id="duration" class="form-control" name="trip[duration_in_seconds]" placeholder="Duration"/>
  </div>
  <div class="form-group">
    <input type="datetime" id="start date" class="form-control" name="trip[start_date]" placeholder="Start Date"/>
  </div>
  <div class="form-group">
    <input type="datetime" id="end date" class="form-control" name="trip[end_date]" placeholder="End Date"/>
  </div>
  <div class="form-group">
    <input type="integer" id="start station" class="form-control" name="trip[start_station_id]" placeholder="Start Station id"/>
  </div>
  <div class="form-group">
    <input type="integer" id="end station" class="form-control" name="trip[end_station_id]" placeholder="End Station"/>
  </div>
  <div class="form-group">
    <input type="number" id="bike ID" class="form-control" step="1" name="trip[bike_id]" placeholder="Bike ID"/>
  </div>
  <div class="form-group">
    <input type="text" id="subscription" class="form-control" name="subscription[name]" placeholder="Subscription ID"/>
  </div>

  <div class="form-group">
    <input type="integer" id="zipcode" class="form-control" name="trip[zipcode_id]" placeholder="Zipcode ID">
  </div>

  <input class="button btn-update btn" type="submit" value="Submit"/>

>>>>>>> master
</form>
</div>
